.settings/
/out
*_m.*
*.vci
*.vec
*.sca
*.anf
*.elog
*.tkenvrc
*.tkenvlog
*.qtenvrc
*.cmdenv-log
*.out
*.csv.FAILED
*.csv.UPDATED

/doc/doxy/
/doc/neddoc/
/doc/index.html

*.so
*.dylib
*.dll
*.dll.a
*.def

src/Makefile

src/signalsandgateways/features.h
simulations/examples_andl/major_network/
simulations/examples_andl/major_network_pools/
simulations/examples_andl/small_network/
simulations/examples_andl/small_network_RC/

.nedexclusions